In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark=SparkSession.builder.appName('File_Validation').getOrCreate()

In [0]:

file_path="dbfs:/FileStore/customers1.csv"  
file_type="csv"
expected_schema=["customer_id","customer_fname","customer_lname","username","password","address","city","state","pincode"]

def duplicate():
    duplicate_rows=df.count()-df.dropDuplicates().count()
    print(f'Number of duplicate rows: {duplicate_rows}')
    df.dropDuplicates()
    return df

def dictinct_count():
    for column in df.columns:
        print(f'{column}:{df.select(column).distinct().count()} distinct values')
    return df

def count_null():
    df.select(*(sum(col(c).isNull().cast("int")).alias(c)for c in df.columns))
    return df

def schema_mismatch():
    if not all(col in df.columns for col in expected_schema):
        print("schema_mismatch")
    else:
        print("No Schema Mismatch")
    return df

def correlation():
    df.select(corr("pincode","address"))
    print(f'show correlation')
    return df

def dependency_chk():
    if df.filter(df.customer_fname.isNull() & df.customer_lname.isNotNull()):
        print(f'consistent data')
    else:
        print(f'inconsistent data')
    return df

def read_file():
    df=spark.read.format(file_type).option("header", "true").load(file_path)
    if df.count()==0: 
        print(file_type + " is empty")
    else:
        print(file_type + " is not empty")
        df.describe().show()
        duplicate()
        dictinct_count()
        count_null()
        schema_mismatch()
        correlation()
        dependency_chk().show()
    return df    

df=read_file()

csv is not empty
+-------+------------------+--------------+--------------+---------+---------+--------------------+----------+-----+------------------+
|summary|       customer_id|customer_fname|customer_lname| username| password|             address|      city|state|           pincode|
+-------+------------------+--------------+--------------+---------+---------+--------------------+----------+-----+------------------+
|  count|             12435|         12435|         12435|    12435|    12435|               12435|     12435|12435|             12435|
|   mean|            6218.0|          null|          null|     null|     null|                null|      null| null|36043.661680739846|
| stddev|3589.8196333520714|          null|          null|     null|     null|                null|      null| null| 37623.00199497027|
|    min|                 1|         Aaron|        Abbott|XXXXXXXXX|XXXXXXXXX|      1 Bright Manor| Aguadilla|   AL|             00603|
|    max|              9999|       Zachary|        Zuniga|XXXXXXXXX|XXXXXXXXX|9995 Tawny Embers...|Zanesville|   WV|             99205|
+-------+------------------+--------------+--------------+---------+---------+--------------------+----------+-----+------------------+

Number of duplicate rows: 0
customer_id:12435 distinct values
customer_fname:200 distinct values
customer_lname:985 distinct values
username:1 distinct values
password:1 distinct values
address:6943 distinct values
city:562 distinct values
state:44 distinct values
pincode:1000 distinct values
No Schema Mismatch
show correlation
consistent data
+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|customer_id|customer_fname|customer_lname| username| password|             address|         city|state|pincode|
+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|          1|       Richard|     Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|          2|          Mary|       Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|          3|           Ann|         Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|  00725|
|          4|          Mary|         Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|          5|        Robert|        Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|  00725|
|          6|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|  07055|
|          7|       Melissa|        Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|  00725|
|          8|         Megan|         Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence|   MA|  01841|
|          9|          Mary|         Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas|   PR|  00725|
|         10|       Melissa|         Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|         11|          Mary|       Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|  00725|
|         12|   Christopher|         Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|         13|          Mary|       Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|  00725|
|         14|     Katherine|         Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|         15|          Jane|          Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|         16|       Tiffany|         Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|  00725|
|         17|          Mary|      Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|         18|        Robert|         Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|         19|     Stephanie|      Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|  00725|
|         20|          Mary|         Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|  07093|
+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows